@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sora: "Sora", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Sora', sans-serif; */
  font-family: var(--font-sora);
}

.font-sora {
  font-family: var(--font-sora);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.swiper-button-next,
.swiper-button-prev {
  background: white;
  border-radius: 50%;
  width: 32px !important;
  height: 32px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px !important;
  font-weight: bold;
  color: #38424b;
}

.swiper-button-prev,
.swiper-button-next {
  @apply shadow-lg shadow-gray-400;
}

section + section {
  padding-bottom: 0;
}
#landing #chat-widget-container .va-travel-chat-window.embedded-chat-window {
  top: 0;
}
#landing #chat-widget-container .va-travel-chat-window.embedded-chat-window .va-travel-chat-messages-container {
 height: calc(100vh - 200px) !important;
 max-height: calc(100vh - 200px) !important;
}
#chat-widget-container .va-travel-chat-toggle-button {
  background-color: white;
  color: black;
  right: 80px;
  bottom: 1.75rem;
  font-size: 14px;
}
#chat-widget-container .va-travel-chat-toggle-button svg {
  display: none;
}
#chat-widget-container .va-travel-chat-toggle-button::after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../public/images/user.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translate(0px, -50%);
  border-radius: 100%;
  border: white 5px solid;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}
#my-chat-container .va-travel-chat-window {
  border-radius: 16px !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}
#chat-widget-container .va-travel-chat-window {
  background: transparent;
  backdrop-filter: blur(5px);
  top: 5em;
  border-radius: 16px !important;
  border: none;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}
#chat-widget-container .va-travel-chat-widget-container {
  z-index: 10;
}
#chat-widget-container .va-travel-chat-window .va-travel-chat-window-inner {
  height: 100%;
}
#chat-widget-container
  .va-travel-chat-window
  .va-travel-chat-messages-container {
  flex: 1;
}
#my-chat-container .va-travel-chat-header,
#chat-widget-container .va-travel-chat-header {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  background-color: #38424b !important;
  padding: 6px;
}
#my-chat-container .va-travel-chat-title,
#chat-widget-container .va-travel-chat-title {
  display: none;
}
#my-chat-container .va-travel-chat-description,
#chat-widget-container .va-travel-chat-description {
  display: none;
}
#my-chat-container .va-travel-chat-logo,
#chat-widget-container .va-travel-chat-logo {
  width: fit-content !important;
  height: 30px !important;
  border: none !important;
  border-radius: 0 !important;
}

#my-chat-container .va-travel-chat-messages-container,
#chat-widget-container .va-travel-chat-messages-container {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  flex: 1 !important;
  max-height: 100% !important;
}
#chat-widget-container .va-travel-chat-messages-container {
  background-color: rgba(0, 0, 0, 0.6);
}
.va-travel-chat-messages-container
  .va-travel-bot-message-group
  .va-travel-bot-default-avatar {
  background-image: url("../../public/images/user.png");
  background-position: center;
  background-size: cover;
}
.va-travel-chat-messages-container
  .va-travel-bot-message-group
  .va-travel-bot-message {
  background-color: #e5e5e5;
  max-width: 75%;
  width: fit-content;
  border-radius: 16px;
  padding: 6px 14px;
  color: #1f2937;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-bot-message-group
  .va-travel-bot-message {
  background-color: white;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-question-text,
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-question-text-multiline {
  background-color: #e5e5e5;
  max-width: 75%;
  width: fit-content;
  border: none;
  border-radius: 16px;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-question-text,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-question-text-multiline {
  background-color: white;
  max-width: 75%;
  width: fit-content;
  border: none;
  border-radius: 16px;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-chat-form {
  gap: 0;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-choice-button,
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-date-input,
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-chat-submit-button,
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-dropdown-select {
  background: white;
  color: #5e95cd;
  border: solid 1px #5e95cd;
  width: fit-content;
  border-radius: 100px;
  padding: 6px 14px;
  min-width: 200px;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-dropdown-select option {
    color: white;
    background-color: black;
  }
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-choice-button,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-date-input,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-chat-submit-button,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-dropdown-select {
  background: transparent;
  color: white;
  border: solid 1px white;
  width: fit-content;
  border-radius: 100px;
  padding: 6px 14px;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-dropdown-select option {
    color: white;
    background-color: black;
  }
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container {
  background-color: transparent;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container {
  border: solid 1px #5e95cd;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container {
  color: white;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-count-section,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-count-section {
  display: flex;
  flex-direction: column;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-rooms-list,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-rooms-list {
  max-height: unset;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-count-input {
  border: solid 1px #5e95cd;
  width: 150px;
  padding: 6px 14px;
  border-radius: 16px;
  background-color: transparent;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-count-input {
  border: solid 1px white;
  width: 150px;
  padding: 6px 14px;
  border-radius: 16px;
  background-color: transparent;
  color: white;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card {
  background-color: transparent;
  box-shadow: none;
  border: solid 1px #5e95cd;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card {
  background-color: transparent;
  box-shadow: none;
  border: solid 1px white;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-room-header,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-room-header {
  margin-bottom: 14px;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-occupant-control,
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-occupant-control {
  flex-direction: row;
  gap: 10px;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-occupant-control
  .va-travel-occupant-label {
  width: 100px;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-occupant-counter {
  border: none;
  width: fit-content;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-counter-button {
  border: solid 1px #5e95cd;
  border-radius: 100%;
  background-color: #5e95cd;
  color: white;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-counter-button:first-child {
  border: solid 1px #5e95cd;
  color: #5e95cd;
  background-color: transparent;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-counter-button {
  border: solid 1px #ffffff;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-counter-button:first-child {
  border: solid 1px white;
  color: white;
  background-color: transparent;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-max-capacity {
  color: white;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-counter-value {
  background-color: transparent;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-counter-value {
  color: #5e95cd;
}
/* child ages */
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages {
  background-color: transparent;
  border: none;
  padding: 0;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  label {
  display: none;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-child-age-row {
  gap: 10px;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-child-number {
  font-size: 16px;
  font-weight: normal;
  color: #1f2937;
  width: 100px;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-child-number {
  font-size: 16px;
  font-weight: normal;
  color: white;
  width: 100px;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-child-age-select {
  width: 150px;
  flex-grow: unset;
  border: solid 1px #5e95cd;
  color: #5e95cd;
  border-radius: 100px;
  padding: 6px 14px;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-child-age-select {
  width: 150px;
  flex-grow: unset;
  border: solid 1px white;
  color: white;
  border-radius: 100px;
  padding: 6px 14px;
  background-color: transparent;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-no-children-message {
  background-color: transparent;
  text-align: left;
  padding: 0;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-child-ages
  .va-travel-child-age-dropdowns
  .va-travel-no-children-message {
  color: white;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-room-selection-container
  .va-travel-room-card
  .va-travel-room-capacity-info {
  border: none;
  background-color: transparent;
}

.va-travel-chat-messages-container
  .va-travel-user-message-container
  .va-travel-user-message {
  background-color: #e5e5e5;
  color: #5e95cd;
  width: fit-content;
  padding: 6px 14px;
  border-radius: 16px;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-user-message-container
  .va-travel-user-message {
  background-color: white;
  color: #5e95cd;
}
#my-chat-container
  .va-travel-chat-messages-container
  .va-travel-user-message-container
  .va-travel-edit-button {
  color: #5e95cd;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-user-message-container
  .va-travel-edit-button {
  background-color: white;
  color: #5e95cd;
}

#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-slider-container
  .va-travel-slider-title {
  color: white;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-slider-container
  .va-travel-slider-value {
  display: none;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-slider-container
  input {
  color: #5e95cd;
  background-color: white;
  border: solid 1px #e5e5e5;
  border-radius: 50px;
  accent-color: unset;
  -webkit-appearance: none;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-slider-container
  .va-travel-slider-labels {
  color: white;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-text-field-container
  label {
  display: none;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-text-field-container
  .va-travel-chat-textarea {
  background-color: transparent;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-text-field-container
  .va-travel-chat-textarea {
  color: white;
}
.va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-text-field-container
  .va-travel-chat-textarea::placeholder {
  opacity: 1;
  color: #1f2937;
}
#chat-widget-container
  .va-travel-chat-messages-container
  .va-travel-current-question
  .va-travel-text-field-container
  .va-travel-chat-textarea::placeholder {
  opacity: 1;
  color: white;
}
.va-travel-chat-messages-container .va-travel-questionnaire-end {
  background: white;
}

@media (min-width: 600px) {
  #chat-widget-container .va-travel-chat-toggle-button {
    right: 120px;
    font-size: 16px;
  }
  #chat-widget-container .va-travel-chat-toggle-button::after {
    width: 100px;
    height: 100px;
    right: -110px;
  }
}
